In [1]:
import pandas as pd
import time
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [40]:
vol = pd.read_csv('bitcoin volume.csv').rename(columns=lambda x: x.strip())

In [41]:
# convert the date string to the correct date format
vol.Time = pd.to_datetime(vol['Time'])

In [52]:
vol.head()

,Time,bitfinex,bitflyer,bitstamp,btcchina,btce,huobi,lakebtc,mtgox,okcoin,others
0,2000-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
1,2010-07-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.00,0.0,0.0
2,2010-07-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75.01,0.0,0.0
3,2010-07-19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,574.00,0.0,0.0
4,2010-07-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262.00,0.0,0.0

In [36]:
vol.dtypes

Time        datetime64[ns]
bitfinex           float64
bitflyer           float64
bitstamp           float64
btcchina           float64
btce               float64
huobi              float64
lakebtc            float64
mtgox              float64
okcoin             float64
others             float64
dtype: object

In [51]:
vol=vol.fillna(0)

In [68]:
price = pd.read_csv('bitcoin price.csv').rename(columns=lambda x: x.strip())

In [69]:
price.Time = pd.to_datetime(price['Time'])

In [70]:
price.head()

,Time,bit-x,bitfinex,cex.io,coinbase,exmo,gemini,hitbtc,itbit,kraken,others
0,2010-07-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.049510
1,2010-07-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.077975
2,2010-07-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.086792
3,2010-07-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.077999
4,2010-07-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.070463

In [95]:
# md= mining difficulty
md = pd.read_csv('bitcoin mining difficulty.csv').rename(columns=lambda x: x.strip())

In [96]:
md.Time = pd.to_datetime(md['Time'])

In [97]:
md= md.rename(columns ={'Unnamed: 1':'level'})

In [102]:
md=md.dropna(axis=0, how='any')

In [103]:
md.head()

        Time  level
0 2009-01-09    1.0
1 2009-01-10    1.0
2 2009-01-11    1.0
3 2009-01-12    1.0
4 2009-01-13    1.0

In [104]:
df=pd.merge(vol,md,on='Time',how='outer')

In [106]:
vol.to_csv('vol_clean.csv')

In [105]:
df

,Time,bitfinex,bitflyer,bitstamp,btcchina,btce,huobi,lakebtc,mtgox,okcoin,others,level
0,2000-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,NaN
1,2010-07-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.00,0.0,0.0,181.543289
2,2010-07-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75.01,0.0,0.0,181.543289
3,2010-07-19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,574.00,0.0,0.0,181.543289
4,2010-07-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262.00,0.0,0.0,181.543289
5,2010-07-21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,575.00,0.0,0.0,181.543289
6,2010-07-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2160.00,0.0,0.0,181.543289
7,2010-07-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2402.50,0.0,0.0,181.543289
8,2010-07-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,496.32,0.0,0.0,181.543289
9,2010-07-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1551.48,0.0,0.0,181.543289
10,2010-07-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,877.00,0.0,0.0,181.543289
11,2010-07-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3373.69,0.0,0.0,244.213223
12,2010-07-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4390.29,0.0,0.0,244.213223
13,2010-07-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8058.49,0.0,0.0,244.213223
14,2010-07-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3020.85,0.0,0.0,244.213223
15,2010-07-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4022.25,0.0,0.0,244.213223
16,2010-08-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2601.00,0.0,0.0,244.213223
17,2010-08-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3599.00,0.0,0.0,244.213223
18,2010-08-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9821.46,0.0,0.0,244.213223
19,2010-08-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3494.00,0.0,0.0,244.213223
20,2010-08-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5034.07,0.0,0.0,352.161209
21,2010-08-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1395.00,0.0,0.0,352.161209
22,2010-08-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2619.00,0.0,0.0,352.161209
23,2010-08-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2201.00,0.0,0.0,352.161209
24,2010-08-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13631.09,0.0,0.0,352.161209
25,2010-08-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1310.39,0.0,0.0,352.161209
26,2010-08-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14061.18,0.0,0.0,352.161209
27,2010-08-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2062.31,0.0,0.0,352.161209
28,2010-08-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3591.77,0.0,0.0,352.161209
29,2010-08-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4404.20,0.0,0.0,352.161209
...,...,...,...,...,...,...,...,...,...,...,...,...
3297,2010-06-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.381488
3298,2010-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.381488
3299,2010-06-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.381488
3300,2010-06-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.381488
3301,2010-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.381488
3302,2010-06-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.381488
3303,2010-06-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.381488
3304,2010-06-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3305,2010-06-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3306,2010-06-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3307,2010-06-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3308,2010-06-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3309,2010-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3310,2010-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3311,2010-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3312,2010-07-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3313,2010-07-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3314,2010-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3315,2010-07-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3316,2010-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.501257
3317,2010-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.501257
3318,2010-07-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.501257
3319,2010-07-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.501257
3320,2010-07-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.501257
3321,2010-07-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.501257
3322,2010-07-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.501257
3323,2010-07-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.385822
3324,2010-07-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.385822
3325,2010-07-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.385822
3326,2010-07-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,181.543289