In [2]:
import pandas as pd
import time
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
%matplotlib inline

In [3]:
import sklearn as sk
import sklearn.tree as tree
import sklearn.preprocessing as pp
import sklearn.metrics as sm

In [4]:
sd = pd.read_csv('Speed Dating Data.csv',encoding="ISO-8859-1").rename(columns=lambda x: x.strip())
sd.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

In [5]:
sd.isnull().sum()

iid            0
id             1
gender         0
idg            0
condtn         0
wave           0
round          0
position       0
positin1    1846
order          0
partner        0
pid           10
match          0
int_corr     158
samerace       0
age_o        104
race_o        73
pf_o_att      89
pf_o_sin      89
pf_o_int      89
pf_o_fun      98
pf_o_amb     107
pf_o_sha     129
dec_o          0
attr_o       212
sinc_o       287
intel_o      306
fun_o        360
amb_o        722
shar_o      1076
            ...
amb1_3      4404
shar1_3     4404
attr7_3     6362
sinc7_3     6362
intel7_3    6362
fun7_3      6362
amb7_3      6362
shar7_3     6362
attr4_3     5419
sinc4_3     5419
intel4_3    5419
fun4_3      5419
amb4_3      5419
shar4_3     5419
attr2_3     5419
sinc2_3     5419
intel2_3    5419
fun2_3      5419
amb2_3      5419
shar2_3     6362
attr3_3     4404
sinc3_3     4404
intel3_3    4404
fun3_3      4404
amb3_3      4404
attr5_3     6362
sinc5_3     6362
intel5_3    6362
fun5_3      6362
amb5_3      6362
Length: 195, dtype: int64

In [6]:
sd.dtypes

iid           int64
id          float64
gender        int64
idg           int64
condtn        int64
wave          int64
round         int64
position      int64
positin1    float64
order         int64
partner       int64
pid         float64
match         int64
int_corr    float64
samerace      int64
age_o       float64
race_o      float64
pf_o_att    float64
pf_o_sin    float64
pf_o_int    float64
pf_o_fun    float64
pf_o_amb    float64
pf_o_sha    float64
dec_o         int64
attr_o      float64
sinc_o      float64
intel_o     float64
fun_o       float64
amb_o       float64
shar_o      float64
             ...
amb1_3      float64
shar1_3     float64
attr7_3     float64
sinc7_3     float64
intel7_3    float64
fun7_3      float64
amb7_3      float64
shar7_3     float64
attr4_3     float64
sinc4_3     float64
intel4_3    float64
fun4_3      float64
amb4_3      float64
shar4_3     float64
attr2_3     float64
sinc2_3     float64
intel2_3    float64
fun2_3      float64
amb2_3      float64
shar2_3     float64
attr3_3     float64
sinc3_3     float64
intel3_3    float64
fun3_3      float64
amb3_3      float64
attr5_3     float64
sinc5_3     float64
intel5_3    float64
fun5_3      float64
amb5_3      float64
Length: 195, dtype: object

In [7]:
sd[sd['wave']==1][['iid','id','partner','pid']]

     iid    id  partner   pid
0      1   1.0        1  11.0
1      1   1.0        2  12.0
2      1   1.0        3  13.0
3      1   1.0        4  14.0
4      1   1.0        5  15.0
5      1   1.0        6  16.0
6      1   1.0        7  17.0
7      1   1.0        8  18.0
8      1   1.0        9  19.0
9      1   1.0       10  20.0
10     2   2.0        1  11.0
11     2   2.0        2  12.0
12     2   2.0        3  13.0
13     2   2.0        4  14.0
14     2   2.0        5  15.0
15     2   2.0        6  16.0
16     2   2.0        7  17.0
17     2   2.0        8  18.0
18     2   2.0        9  19.0
19     2   2.0       10  20.0
20     3   3.0        1  11.0
21     3   3.0        2  12.0
22     3   3.0        3  13.0
23     3   3.0        4  14.0
24     3   3.0        5  15.0
25     3   3.0        6  16.0
26     3   3.0        7  17.0
27     3   3.0        8  18.0
28     3   3.0        9  19.0
29     3   3.0       10  20.0
..   ...   ...      ...   ...
170   18   8.0        1   1.0
171   18   8.0        2   2.0
172   18   8.0        3   3.0
173   18   8.0        4   4.0
174   18   8.0        5   5.0
175   18   8.0        6   6.0
176   18   8.0        7   7.0
177   18   8.0        8   8.0
178   18   8.0        9   9.0
179   18   8.0       10  10.0
180   19   9.0        1   1.0
181   19   9.0        2   2.0
182   19   9.0        3   3.0
183   19   9.0        4   4.0
184   19   9.0        5   5.0
185   19   9.0        6   6.0
186   19   9.0        7   7.0
187   19   9.0        8   8.0
188   19   9.0        9   9.0
189   19   9.0       10  10.0
190   20  10.0        1   1.0
191   20  10.0        2   2.0
192   20  10.0        3   3.0
193   20  10.0        4   4.0
194   20  10.0        5   5.0
195   20  10.0        6   6.0
196   20  10.0        7   7.0
197   20  10.0        8   8.0
198   20  10.0        9   9.0
199   20  10.0       10  10.0

[200 rows x 4 columns]

In [8]:
male = sd[sd['gender']==1]
male.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
100,11,1.0,1,2,1,1,10,7,NaN,4,...,7.0,8.0,7.0,7.0,5.0,NaN,NaN,NaN,NaN,NaN
101,11,1.0,1,2,1,1,10,3,NaN,10,...,7.0,8.0,7.0,7.0,5.0,NaN,NaN,NaN,NaN,NaN
102,11,1.0,1,2,1,1,10,9,NaN,6,...,7.0,8.0,7.0,7.0,5.0,NaN,NaN,NaN,NaN,NaN
103,11,1.0,1,2,1,1,10,6,NaN,3,...,7.0,8.0,7.0,7.0,5.0,NaN,NaN,NaN,NaN,NaN
104,11,1.0,1,2,1,1,10,4,NaN,1,...,7.0,8.0,7.0,7.0,5.0,NaN,NaN,NaN,NaN,NaN

In [9]:
female = sd[sd['gender']==0]
female.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

x = sd[sd['wave'].between(10,22)].loc[(:,'attr1_1':'shar2_1')&(:,'gender')]
y = sd[['gender']]
y.isnull().sum()

In [10]:
features =['iid','gender','match','attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1',\
           'attr2_1', 'sinc2_1','intel2_1', 'fun2_1', 'amb2_1', 'shar2_1', 'attr4_1',\
           'sinc4_1','fun4_1', 'intel4_1', 'amb4_1','shar4_1']

In [11]:
wave10 = sd[sd['wave'].between(10,22)].loc[:, features]
wave10.describe()
wave10.head()

,iid,gender,match,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr2_1,...,intel2_1,fun2_1,amb2_1,shar2_1,attr4_1,sinc4_1,fun4_1,intel4_1,amb4_1,shar4_1
count,4970.000000,4970.00000,4970.000000,4932.000000,4932.000000,4932.000000,4932.000000,4932.000000,4910.000000,4932.000000,...,4932.000000,4932.000000,4932.000000,4932.000000,4932.000000,4932.000000,4932.000000,4932.000000,4932.000000,4910.000000
mean,394.206036,0.50000,0.158954,23.959702,17.477488,20.111052,17.318562,9.724114,11.431802,33.021492,...,13.797648,18.293593,11.362733,11.204785,31.999797,12.347121,17.931062,14.455799,10.842660,12.323829
std,95.292699,0.50005,0.365670,13.385124,7.834010,7.284072,6.626999,5.688571,6.612484,17.053744,...,6.922435,7.479125,7.492686,6.598445,14.767137,7.114781,6.837787,6.675540,7.621974,6.331559
min,234.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,308.000000,0.00000,0.000000,15.000000,12.000000,16.000000,14.000000,5.000000,5.000000,20.000000,...,10.000000,15.000000,5.000000,5.000000,20.000000,10.000000,15.000000,10.000000,5.000000,10.000000
50%,386.000000,0.50000,0.000000,20.000000,20.000000,20.000000,18.000000,10.000000,10.000000,30.000000,...,12.000000,20.000000,10.000000,10.000000,30.000000,10.000000,20.000000,15.000000,10.000000,10.000000
75%,483.000000,1.00000,0.000000,30.000000,20.000000,25.000000,20.000000,15.000000,15.000000,40.000000,...,20.000000,20.000000,15.000000,15.000000,40.000000,17.000000,20.000000,20.000000,15.000000,15.000000
max,552.000000,1.00000,1.000000,95.000000,60.000000,50.000000,50.000000,30.000000,30.000000,100.000000,...,40.000000,50.000000,50.000000,30.000000,95.000000,35.000000,45.000000,35.000000,50.000000,40.000000

,iid,gender,match,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr2_1,...,intel2_1,fun2_1,amb2_1,shar2_1,attr4_1,sinc4_1,fun4_1,intel4_1,amb4_1,shar4_1
3408,234,0,0,20.0,20.0,20.0,10.0,10.0,20.0,75.0,...,1.0,3.0,10.0,10.0,10.0,20.0,20.0,20.0,15.0,15.0
3409,234,0,0,20.0,20.0,20.0,10.0,10.0,20.0,75.0,...,1.0,3.0,10.0,10.0,10.0,20.0,20.0,20.0,15.0,15.0
3410,234,0,0,20.0,20.0,20.0,10.0,10.0,20.0,75.0,...,1.0,3.0,10.0,10.0,10.0,20.0,20.0,20.0,15.0,15.0
3411,234,0,0,20.0,20.0,20.0,10.0,10.0,20.0,75.0,...,1.0,3.0,10.0,10.0,10.0,20.0,20.0,20.0,15.0,15.0
3412,234,0,0,20.0,20.0,20.0,10.0,10.0,20.0,75.0,...,1.0,3.0,10.0,10.0,10.0,20.0,20.0,20.0,15.0,15.0

In [12]:
wave10=wave10.dropna(axis=0,how='any')
wave10.isnull().sum()

iid         0
gender      0
match       0
attr1_1     0
sinc1_1     0
intel1_1    0
fun1_1      0
amb1_1      0
shar1_1     0
attr2_1     0
sinc2_1     0
intel2_1    0
fun2_1      0
amb2_1      0
shar2_1     0
attr4_1     0
sinc4_1     0
fun4_1      0
intel4_1    0
amb4_1      0
shar4_1     0
dtype: int64

In [13]:
df_X, y = wave10.drop(['match'], axis=1), wave10['match']

In [50]:
try1 = sd[['attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1']]

In [35]:
sd[['attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1']].iloc[0,:].sum()

85.0

In [40]:
len(sd[['attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1']].columns)

5

In [42]:
sd[['attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1']].iloc[0,0]

15.0

In [52]:
def scale10(question):
    for i in range(0, len(question)):
        total = question.iloc[i,:].sum()
        for j in range(0, len(question.columns)):
            question.iloc[i,j]=(question.iloc[i,j]/total)/10
    return question

notion of control of the other group (a/b testing)
top 3: clustering 
start small 
qausi

In [53]:
try1.iloc[0,0]

15.0

In [ ]:
warnings.simplefilter(action = "ignore", category = FutureWarning) 
from subprocess import check_output

In [ ]:
scale10(try1)

In [ ]:
try1